{% extends "base.html" %}
{% block nav_home %}class="active"{% endblock %}
{% block content %}
  <div class="hero-unit">
    <h1><center>Bienvenue sur l'Agora</center></h1>
  </div>

    <div class="row">
      <div class="span6">
        <h2>A voter</h2>
        <p>{% for decision in in_progress %}
          {% include 'agora/inc_decision_detail.html' with obj=decision only %}
          {% endfor %}</p>
        <p><a class="btn" href="{% url decision_list %}">Voir plus &raquo;</a></p>
      </div>
      <div class="span6">
        <h2>Archivées</h2>
        <p>{% for decision in closed %}
          {% include 'agora/inc_decision_detail.html' with obj=decision only %}
          {% endfor %}</p>
        <p><a class="btn" href="{% url decision_list %}">Voir plus &raquo;</a></p>
     </div>
    </div>

{% endblock %}
